/* Variables */

$duration: 450ms;
$growFactor: 1.5;
$defaultPadding: 5vw;

/* Mixins */

/* CSS3 calc() function to perform calculations */
@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

// CSS3 translateX with -ms version
@mixin translateX($expression) {
  -ms-transform: translateX(calc(#{$expression}));
  transform: translateX(calc(#{$expression}));
}

// calculates the width of thumbnails based on the current breakpoint
@mixin thumbnail-width($breakPoint, $padding: $defaultPadding) {
  $numThumbs: calcNumTiles($breakPoint);

  @include calc(
    width,
    "(100vw - (#{$padding} * 2) - ((#{$numThumbs} - 1) * 10px)) / #{$numThumbs}"
  );
}

@mixin thumbnail-height($breakPoint, $padding: $defaultPadding) {
  $numThumbs: calcNumTiles($breakPoint);

  @include calc(
    height,
    "(100vw - (#{$padding} * 2) - ((#{$numThumbs} - 1) * 10px)) / #{$numThumbs} / (16 / 9)"
  );
}

@mixin moveLeft($breakPoint, $padding: $defaultPadding) {
  @include translateX(
    "(((100vw - (#{$padding} * 2)) / #{calcNumTiles($breakPoint)}) * (#{$growFactor} - 1)) / 2 * -1"
  );
}

@mixin moveRight($breakPoint, $padding: $defaultPadding) {
  @include translateX(
    "((100vw - #{$padding} * 2) / #{calcNumTiles($breakPoint)}) * (#{$growFactor} - 1)"
  );
}

/* Helper Functions */

// calculates width based off of breakpoint widths
@function calcNumTiles($breakPoint) {
  $numOfTiles: 2;
  @if $breakPoint > 500px {
    $numOfTiles: (($breakPoint - 500px) / 300) + 2;
  }

  @return strip-unit($numOfTiles);
}

// Remove the unit of a length
// @param {Number} $number - Number to remove unit from
// @return {Number} - Unitless number
// From https://css-tricks.com/snippets/sass/strip-unit-function/
@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}
