/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#root {
    background-color: #141414;
    position: relative;
}

body {
    background-color: #141414;
}

.main-content {
    color: white;
    height: 100vh;
    position: relative;
}

.husflix-footer {
    background-color: #141414;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0 0 0;
    height: 50px;
}

.husflix-footer * {
    margin: 5px 10px;
    color: white;
}

.website-symbol, .linkedin-symbol, .github-symbol, .angel-symbol {
    max-height: 35px;
    max-width: 35px;
    transform: scale(2);
}