
.big-video-preview-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212020;
    height: 60vh;
    position: relative;
}

.big-video-poster {
    width: 100%;
    max-width: 100vw;
    height: 80vw;
    max-height: 90vh;
    position: absolute;
    top: 5%;
    left: 0;
    z-index: 80;
    border: none;
    cursor: pointer;
    transition: opactiy 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-video-poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 80;
}

.big-preview-filter {
    width: 100%;
    max-width: 100vw;
    height: 80vw;
    max-height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 81;
    background-image: linear-gradient(to right, rgba(0,0,0,0.6) 20%,rgba(0,0,0,0.2)60% );
}

.poster-black-bg {
    width: 100%;
    height: 100vh;
    -webkit-mask-image: linear-gradient( to bottom, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient( to bottom, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
    background-color: black;
}

.video-el-wrapper {
    position :relative;
    height: 100%;
    width: 100%;
}

.big-video {
    position: absolute;
    height: 80vw;
    max-height: 90vh;
    max-width: 100vw;
    height: auto;
    width: 100%;
    object-fit: fill;
    z-index: 40;
    top: 0;
    left: 0;
    overflow: hidden;
}

.big-video-bg {
    width: 100%;
    height: 100vh;
    -webkit-mask-image: linear-gradient( to bottom, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient( to bottom, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
    background-color: black;
}

.big-preview-left-controls {
    position: absolute;
    left: 5vw;
    top: 10vw;
    height: 20vw;
    z-index: 90;
    display: flex;
    flex-direction: column;
}

.big-preview-show-title {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
}

.big-preview-show-title strong {
    font-weight: bold;
}

.title-wrapper {
    max-width: 40vw;
}

.big-preview-show-title article{
    display: flex;
    align-items: center;
    height: 10vw;
    width: 40vw;
    max-width: 100%;
    overflow: hidden;
}

.big-preview-show-title h1 {
    background-color: white;
    color: black;
    font-size: 2.5vw;
    font-weight: bold;
    letter-spacing: -1px;
    padding: 3px;
    max-width: 40vw;
    /* width: auto; */
}

.big-preview-play-mylist-btns {
    display: flex;
    justify-content: space-between;
    width: 10vw;
    min-height: 10vh;
}

.big-preview-play {
    margin-right: 10px;
}

.big-preview-play-mylist-btns button {
    min-width: 200px;
    min-height: 60px;
    height: 20%;
    width: 15vw;
    margin: 0 10px 20px 0;
    border: none;
    background: none;
    color: white;
    font-size: 16pt;
    position: relative;
    outline: none;
}

.big-preview-play-mylist-btns h4 {
    position: absolute;
    opacity: 1;
    color: white;
    z-index: 1000;
    top: 18px;
    left: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
}

.big-preview-play-mylist-btns span {
    text-align: left;
    width: 61%;
    overflow: unset;
}

.big-preview-btn-bg {
    background-color: whitesmoke;
    opacity: 0.2;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    min-width: 200px;
    min-height: 60px;
}

.big-preview-play-mylist-btns button:hover span {
    color: black;
}

.big-preview-play-mylist-btns button:hover i {
    color: black;
}

.big-preview-play-mylist-btns button:hover .big-preview-btn-bg {
    background-color: white;
    opacity: 1;
}

.big-preview-show-tagline {
    font-size: 1.2vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    width: 500px;
    overflow: hidden;
    line-height: 2.5vw;
    min-height: 20vh;
    text-shadow: 1px 1px 8 grey;
}

.big-preview-right-content {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 120;
    height: 10vh;
    display: flex;
    flex-direction: row-reverse;
    width: 12%;
    height: 2.5vw;
}


.preview-maturity-wrapper {
    position: relative;
    width: 80%;
    height: 100%;
    border-left: 3px solid white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.preview-maturity-wrapper h6 {
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 20px;
    opacity: 0.6;
}

.maturity-bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.1;
}

.big-preview-video-controls {
    width: 20%;
    margin-right: 20px;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    outline: none;
}

.preview-current-icon {
    background: none;
    color: white;
    border: none;
    outline: none;
    font-size: 12pt;
    position: absolute; 
    top: 9px;
    left: 5px;
    opacity: 0.5;
    transition: opacity 0.2s
}

.preview-icon {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 30pt;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: transform 0.3;
}


.preview-circle {
    color: black;
    font-size: 28pt;
    opacity: 0.2;
    /* opacity: 0.4; */
}

.preview-outline {
    position: absolute;
    top: -2px;
    left: -7px;
    z-index: 125;
    opacity: 0.5;
    transition: opacity 0.3s;
    color: white;
}

.big-preview-video-controls:hover .preview-outline {
    opacity: 0.9;
    transition: opacity 0.2s;
}

.big-preview-video-controls:hover .preview-current-icon {
    opacity: 0.9;
    transform: scale(1.2);
    transition: transform 0.2s opacity 0.1s;
}

.big-preview-video-controls:hover .big-preview-control {
    opacity: 0.8;
    transition: opacity 0.2s
}

.preview-poster {
    -webkit-mask-image: linear-gradient(to right, rbga(0,0,0,0.5) 10%, rgba(0,0,0,0) 60%);
    mask-image: linear-gradient(to right, rbga(0,0,0,0.5) 10%, rgba(0,0,0,0) 60%);
}
