.login-form-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 520px;
    width: 440px;
    margin: 0px auto;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.login-form-body {
    position: absolute;
    z-index: 2;
    left: 40px;
    top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.black-bg {
    background-color: black;
    position: absolute;
    height: 60%;
    min-height: 100px;
    width: 440px;
    border-radius: 8px;
    left: -13px;
    top: 97px;
    opacity: 0.6;
    z-index: 1;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 320px;
    height: 260px;
    margin-top: 25px;
}

.login-form-body h3 {
    font-size: 30px;
}

.login-form label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 75px;
    width: 100%;
}

.email-login {
    height: 30px;
    padding: 16px 20px 5px 20px;
    border-radius: 5px;
    color: #fff;
    background-color: #333333;
    border: none;
    font-size: 16px;
}

.password-wrapper {
    position: relative;
}

.password-login {
    max-height: 30px;
    padding: 16px 0 5px 0;
    color: #fff;
    background-color: #333333;
    border-radius: 5px;
    margin-bottom: 35px;
}

.password-login input {
    background-color: #333333;
    border: none;
    font-size: 16px;
    margin: 0 20px 5px 20px;
    color: white;
    width: 70%;
}

.password-login:focus-within {
    background-color: #454545;
    outline: none;
}

.password-login:focus-within + .floating-login-description-big {
    transition-timing-function: ease-out;
    transition: font 0.1s;
    transition: top 0.2s;
    font-size: 10px;
    top: 8px;
}

.password-login:focus-within + .floating-login-description-big + .toggle-show-hide {
    background-color: #454545;
}

.password-login:focus-within + .floating-login-description-small + .toggle-show-hide {
    background-color: #454545;
}

.floating-login-description-big {
    position: absolute;
    z-index: 10;
    color: #767676;
    left: 20px;
    top: 19px;
    font-size: 16px;
}

.password-wrapper {
    position: relative;
}

.toggle-show-hide {
    position: absolute;
    right: 12px;
    top: 11px;
    padding: 5px;
    background-color: #333333;
    color: #767676;
    border: none;
    font-size: 13px;
    outline: none;
}

.hidden-show-hide {
    display: none;
}

.floating-login-description-small {
    position: absolute;
    z-index: 10;
    color: #767676;
    left: 20px;
    top: 8px;
    font-size: 10px;
}

.email-login:focus + .floating-login-description-big {
    transition-timing-function: ease-out;
    transition: font 0.1s;
    transition: top 0.2s;
    font-size: 10px;
    top: 10px;
}

.login-form input:focus {
    background-color: #454545;
    outline: none;
}

.login-form input[type="submit"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    padding: 17px 130px;
    color: white;
    background-color: #e32112;
    border: none;
}

.login-inputs {
    max-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.error-orange {
    border-bottom: 2px solid #c86b04;
}

.password-error, .email-error {
    color: #c86b04;
    font-size: 14px;
}

.new-to-netflix-signup {
    margin-top: 105px;
    color: #767676;
}

.signup-link {
    text-decoration: none;
    color: white;
}

.login-error {
    background-color: #e87c03;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: lighter;
    color: white;
    margin-bottom: 15px;
    margin-top: 10px;
}

.create-new-account-link {
    text-decoration: underline;
    color: white;
}

.login-guest-btn {
    width: 100%;
    background-color: #0071eb;
    border: none;
    border-radius: 5px;
    padding: 18px 14px;
    font-size: 18px;
    color: #fff;
    font-family: Arial, Arial, Helvetica, sans-serif;
    outline: none;
}