.main-content {
    position: relative;
}

.right-header-wrapper {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.left-header-wrapper {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
}

.header-nav {
    display: flex;
    width: 53%;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;    
}

.centered {
    width: 100%;
}

.logo-btn {
    text-decoration: none;
    color:  #e32112;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 45px;
    margin-top: 10px;
    text-transform: uppercase;
}

.login-btn {
    padding: 8px 17px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    background-color: #e32112;
}

.login-btn-white {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: black;
}