
.header-nav-container {
    display: flex;
    justify-content: flex-end;
}

.header-nav {
    display: flex;
    width: 53%;
    justify-content: space-between;
    align-items: center;
    margin: 16px 58px;    
}

.logo-btn {
    text-decoration: none;
    color:  #e32112;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 45px;
}

.login-btn {
    padding: 7px 17px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: lighter;
    color: white;
    background-color: #e32112;
}