.show-gallery-index-wrapper {
    position: relative;
    width: 100%;
    min-height: 1000px;
}

.gallery-index-wrapper {
    /* min-height: 1000px; */
    position: absolute;
    top: 75vh;
    left: 0;
    width: 100%;
    z-index: 500;
}

.show-gallery-index {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

.show-gallery-index::-webkit-scrollbar {
    width: 0;
}

.index-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 60vw;
    background-color: #141414;
    -webkit-mask-image: linear-gradient( to top, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient( to top, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%);
}

.gallery-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
