.play-pause-btn-icon {
    position: relative;
}

.play-btn-triangle {
    position: absolute;
    top: -1.6vh;
    left: 0.8vw;
    z-index: 21;
    transform-origin: center;
    transform: scale(0.6);
    color: red;
}

.play-btn-bg {
    position: absolute;
    top: -1.7vh;
    left: 0.7vw;
    z-index: 18;
    transform-origin: center;
    transform: scale(1.5)
}

.play-btn-outline {
    position: absolute;
    top: -1.7vh;
    left: 0.7vw;
    z-index: 20;
    transform-origin: center;
    color: white;
    transform: scale(1.5);
    opacity: 0.6;
}

.mute-symbol {
    position: absolute;
    z-index: 25;
    top: 0.2vh;
    transform-origin: center;
    color: #9b9b9b;
}

.mute-btn-bg {
    position: absolute;
    z-index: 15;
    transform-origin: center;
    transform: scale(2)
}

.mute-btn-outline {
    position: absolute;
    z-index: 20;
    transform-origin: center;
    transform: scale(2);
    color: white;
    opacity: 0.6;
}
