.show-rows-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: visible;
}

.show-rows-wrapper h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    margin-bottom: 1vh;
}