.show-gallery-index-wrapper {
    position: relative;
    width: 100%;
    min-height: 1000px;
}

.big-video-preview-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212020;
    height: 50vh;
}

.big-video-poster {
    height: 100%;
    width: 100%;
    max-width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    border: none;
    -webkit-mask-image: linear-gradient( to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient( to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);    
}

.big-video {
    height: 100%;
    width: 100%;
}

.gallery-index-wrapper {
    min-height: 1000px;
    position: absolute;
    top: 90vh;
    left: 0;
    width: 100%;
    z-index: 30;
}

.show-gallery-index {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.index-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 110%;
    background-color: rgb(33, 32, 32);
    -webkit-mask-image: linear-gradient( to top, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient( to top, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%);
}

.gallery-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
